.heading {
    text-align: center;
}

.heading h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0 20px;
    line-height: 1.1;
}

.heading h3 {
    font-size: 20px;
    color: var(--main-color);
    font-weight: 500;
}

.heading p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}